<div class="footer">
    <div class="sticky-footer">
        <div class="row">
            <div class="col-md-4 center _contact">
                <div class="item-footer">
                    <div class="item-icon">
                        <img src="https://fao.com.vn/public/upload/images/icon_cta/float-footer-cta-phone.png" alt="">
                    </div>
                    <div class="text-footer ">
                        <span class="half half-top">Liên hệ tư vấn</span>
                        <span class="half">0839 882 883</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 center hour">
                <div class="item-footer">
                    <div class="item-icon">
                        <img src="https://fao.com.vn/public/upload/images/icon_cta/float-footer-cta-phone.png" alt="">
                    </div>
                    <div class="text-footer">
                        <span class="half half-top">Giờ làm việc</span>
                        <span class="half">8:00-17:00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-icon-zalo">
                    <a href="https://zalo.me/0838882883">
                        <img
                            src="https://lamhai.com.vn/wp-content/plugins/quick-call-button-muatheme/images/quick-call-button-zalo.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h1>Công Ty DGB</h1>
                    <p>
                       Chưa có nội dung ...
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Chứng nhận</h3>
                    <ul>
                        {{#each showlogo}}
                        <li><a href="/bai-viet/{{this.slug}}">{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Giới thiệu</h3>
                    <ul>
                        {{#each gioithieu}}
                        <li><a href="/bai-viet/{{this.slug}}">{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Thông tin liên hệ</h3>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>  Số 35, ngách 93/15, phố Yên Sở, quận Hoàng Mai, thành phố Hà
                            Nội</p>
                        <p><i class="fa fa-envelope"></i>  chungnhan@dgb.com.vn</p>
                        <p><i class="fa fa-phone"></i>  0839 882 883</p>
                        <p> <a href="https://www.facebook.com/profile.php?id=61553630733498&mibextid=JRoKGi"><i
                                    class="bi bi-facebook" ></i></a>  Facebook</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Footer End -->


<!-- Footer Bottom Start -->

<!-- Footer Bottom End -->